{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div>
        <form method="POST" action="{{ url_for('notes_edit', note_id=note.id) }}">
              <table>
                    <tr>
                          <td>
                                {{ form.title.label }}
                          </td>
                          <td>
                                {{ form.title }}
                          </td>
                    </tr>
                  <tr>
                        <td>
                              <ul>
                                    {% for error in form.title.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                              </ul>
                        </td>
                  </tr>
                    <tr>
                          <td>
                                {{ form.body.label }}
                          </td>
                          <td>
                                {{ form.body }}
                          </td>
                    </tr>
                  <tr>
                        <td>
                              <ul>
                                    {% for error in form.body.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                              </ul>
                        </td>
                  </tr>
                    <tr>
                          <td colspan="2">
                                <input class="btn btn-secondary" type="submit" value="Edit note" />
                          </td>
                    </tr>
        </form>
  </div>
</div>
{% endblock %}