{% extends "layout.html" %}

{% block body %}
<h5>All notebooks</h5>
<hr class="my-4">
  {% for notebook in notebooks %}
  <div class="my-3 p-3 bg-white rounded box-shadow col-md-8">
      <h4 class="border-bottom border-gray pb-2 mb-0">{{ notebook.title }}</h4>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 lh-125">
          {{ notebook.description }}
        </p>
        <small class="d-block text-right mt-3">
            <a href="{{ url_for('notebook_notes', notebook_id=notebook.id) }}">Check notebook</a>
          </small>
      </div>
      <div>
        <small class="d-block small text-gray-dark"><b>Last modified:</b> {{ notebook.date_modified }}</small>
        <small class="d-block small text-gray-dark"><b>Note count:</b> {{ notebook.find_note_count() }}</small>
        <small class="d-block small text-gray-dark"><b>Users:</b>
          {% for u in notebook.users %}
            <span class="badge badge-secondary">{{ u.parent.username }}</span>
          {% endfor %}
        </small>
      </div>
    </div>
  {% endfor %}
  {% if notebooks[0] is defined %}
  {% else %}
  <h5>No notebooks</h5>
  {% endif %}
  
{% endblock %}